// Border radius shorthand
@mixin border-radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
}

@mixin placeholder($value) {
  &::-webkit-input-placeholder {
    color: $value;
  }
  &:-moz-placeholder { /* Firefox 18- */
    color: $value;
  }
  &::-moz-placeholder { /* Firefox 19+ */
    color: $value;
  }
  &:-ms-input-placeholder {
    color: $value;
  }
}