$icon-font-path: "/fonts/bootstrap/";
$fa-font-path: "/fonts/fontawesome";
@import "bootstrap";
@import "font-awesome";
@import "mixins";
@import "typograpy";
@import "colors";
/* Global Styles */

html {
  position: relative;
  min-height: 100%;
}

body {
  background: $background;
  margin-top: 100px;
  font-family: "Oxygen";
  color: $color;
}

@media(min-width: 768px) {
  body {
    margin-top: 50px;
  }
}

a {
  color: $darker;
  &:hover {
    color: $dark;
  }
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.p0 {
  padding: 0;
}

.m0 {
  margin: 0;
}

.navbar {
  border-bottom: none;

  &.navbar-default {
    background: $nav-bar-default-background;
  }
  & a.navbar-brand {
    background: $nav-bar-logo-background;
    font-family: "Roboto-Regular";
    font-size: 35px;
    width: 250px;
    height: 50px;
    text-align: center;
    transition: all .4s ease 0s;

    &:hover {
      background: $nav-bar-logo-hover-background;
    }

    @media(max-width: 768px) {
      width: 100%;
    }
    & span {
      padding: 0;
      margin: 0;
    }
    & span:first-of-type {
      color: $logo-first;
    }
    & span:last-of-type {
      color: $logo-second;
    }
  }
}

header {
  .brand {
    font-family: "Roboto-Regular";
    font-size: 35px;
    & span:first-of-type {
      color: $logo-first;
    }
    & span:last-of-type {
      color: $logo-second;
    }
  }
}

footer {
  position: absolute;
  width: 100%;
  bottom: 20px;
  font-size: 11px;
  text-align: center;
}

/*
#header {
  background: #f5f5f5;
  position: fixed;
  width: 100%;
  min-height: 60px;
  z-index: 9999;

}
*/

#wrapper {
  height: 100%;
  //background: $wrapper-background;
  transition: all .4s ease 0s;

  #sidebar-wrapper {
    background: $sidebar-background;
    font-family: "Oxygen";
    width: 250px;
    left: -180px;
    position: absolute;
    transition: all .4s ease 0s;

    & > div#footer {
      text-align: center;
      color: $dim-grey;
      padding: 20px 0;
      font-size: 12px;
      & > i {
        color: $orange;
      }
    }
  }

  &.active #sidebar-wrapper {
    margin-left: 180px;
  }

  & #content-wrapper {
    height: auto;
    margin-left: 70px;
    margin-bottom: 50px;
    transition: all .4s ease 0s;
    & > #page-content {
      color: $page-content-color;
      background: $page-content-background;
    }
  }

  &.active #content-wrapper {
    margin-left: 250px;
  }

  &.active .icon-bar {
    &:first-of-type {
      transform: rotate(45deg);
      top: 7px;
    }
    &:nth-of-type(2) {
      opacity: 0;
    }
    &:last-of-type {
      transform: rotate(-45deg);
      top: -7px;
    }
  }
  &.active .sub-icon {
    float: none !important;
    padding-right: 10px !important;
  }

  ul.sidebar-nav {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    transition: all .4s ease 0s;

    & > #sidebar-brand {
      line-height: 55px;
      font-size: 18px;
      border-bottom: 1px solid $sidebar-separator;
      & > a {
        color: $menu-header-color;
        display: block;
        text-decoration: none;
        &:hover {
          background: none;
          text-decoration: none;
        }

        & > span {
          padding: 15px 23px 15px 15px;
        }

        & > #main-icon {
          float: right;

          .icon-bar {
            transition: all .4s ease 0s;
            margin-top: 5px;
            display: block;
            width: 24px;
            height: 2px;
            background-color: $menu-header-color;
            position: relative;
          }
        }
      }
    }

    &#sidebar li {
      position: relative;
      line-height: 40px;
      text-indent: 0;
      &.current {
        background-color: $menu-current-background;

        & > a {
          color: $menu-current-color;
          &:before {
            content: "";
            border-left: 10px solid $menu-current-background;
            border-top: 20px solid transparent;
            border-bottom: 20px solid transparent;
            margin-top: 0px;
            position: absolute;
            right: -10px;
            width: 0;
            height: 0;
          }
          &:hover {
            background-color: $menu-current-background;
            &:before {
              content: "";
              border-left: 10px solid $menu-current-background;
              border-top: 20px solid transparent;
              border-bottom: 20px solid transparent;
              margin-top: 0px;
              position: absolute;
              right: -10px;
              width: 0;
              height: 0;
            }
          }
        }
      }
      & > a {
        color: $menu-color;
        display: block;
        padding: 0;
        border-bottom: 1px solid $sidebar-lighter-separator;
        text-decoration: none;
        padding-left: 15px;
        &:hover {
          color: $menu-hover-color;
          background: $menu-hover-background;
        }

        & > span {
          margin: 0;
          transition: all .4s ease 0s;

          &.sub-icon {
            float: right;
            padding-top: 10px;
            padding-right: 28px;
            transition: all .4s ease 0s;
          }
        }

      }

    }
  }

}

/* Top Navigation */

.top-nav {
  font-family: "Oxygen";
  margin: 0 -15px;
  padding: 0 15px;
  & > li {
    display: inline-block;
    & > a {
      font-size: 14px;
      line-height: 20px;
      color: $nav-bar-default-color;

      i {
        padding: 8px 13px;
      }
      span {
        padding: 8px 5px;
      }

      img#profile-image {
        margin: 0 10px;
        height: 30px;
        width: 30px;
        @include border-radius(50%);
      }
    }
  }
  & > li > a:hover,
  & > li > a:focus,
  & > .open > a,
  & > .open > a:hover,
  & > .open > a:focus {
    color: $yellow;
    background: $light;
  }
  & > .open > .dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border: none;
    @include border-radius(0);
    background: $light;
    box-shadow: none;
    & > li > a {
      white-space: normal;
      color: #34495e;
      &:hover {
        color: $half-dark;
        background: $light;
      }
    }
  }

  ul.message-dropdown {
    padding: 0;

    li.message-preview {
      width: 275px;
      border-bottom: 1px solid rgba(0, 0, 0, .15);
    }

    li.message-preview > a {
      padding-top: 15px;
      padding-bottom: 15px;
    }

    li.message-footer {
      margin: 5px 0;
    }
  }
  ul.alert-dropdown {
    width: 200px;
  }

  #profile-nickname {
    padding: 0 10px;
  }
}

.container.small {
  max-width: 450px;

  /** Login **/
  section.panel {
    margin: 0 auto;
    background: #34495e;
    #forgot {
      color: $color;
      font-size: 11px;
    }

    & input {
      background: rgba(255, 255, 255, .3);
      color: #ffffff;
      border: none;
      &:focus {
        box-shadow: none;
        background: rgba(255, 255, 255, .5);
      }
      @include placeholder($grey);
    }
  }
  /** Login **/
}

.btn-success {
  background: #1abc9c;
  border: none;
  &:hover {
    background: #16a085;
  }
}

.btn-default {
  background: #bdc3c7;
  color: #34495e;
  border: none;
}



